{% extends "base.html" %}

{% block upload %}


<div class="container">
  <form action="/" method="POST" enctype="multipart/form-data">
    <div class="row g-2 justify-content-center">
      <div class="col-auto">
        <!-- <label for="file" class="form-label">select files to upload</label> -->
        <input type="file" class="form-control " name="file[]" id="file" multiple>
      </div>
      <div class="col-auto">
        <!-- <label for="file" class="form-label">no label</label> -->
        <button type="submit" value="add" class="btn btn-outline-dark">Upload</button>
      </div>
    </div>
    <div class="row g-2 justify-content-center">
      <div class="col-auto">
        <br>
        <p>combine one shot .wav files into a sample chain</p>
      </div>
    </div>
  </form>
</div>


{% endblock %}